/* POST */

.post {
	width: 90vw;
	height: 50vh;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: #242526;

	@media screen and (min-width: 768px) {
		width: 95vw;
		height: 60vh;
	}

	@media screen and (min-width: 992px) {
		width: 600px;
		height: 500px;
	}

	.title {
		flex: 15%;
		border-radius: 10px 10px 0 0;
		background-color: #3a3b3c;
		display: grid;
		place-content: center;
	}

	.body {
		flex: 70%;
		display: grid;
		place-content: center;
		padding: 20px;
	}
	
	.footer {
		flex: 15%;
		display: flex;
		align-items: center;
		padding-left: 15px;
		background-color: #3a3b3c;
		color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;

		.username {
			flex: 50%;
		}
		.buttons {
			flex: 50%;
			display: flex;
			justify-content: flex-end;
			padding-right: 10px;
			align-items: center;
		}
	}
}

.imagePost {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 25vh;

	@media screen and (min-width: 767px) {
		height: 35vh;
	}

	@media screen and (min-width: 992px) {
		height: 280px;
	}
}

.likeBttn {
	color: white;
	padding: 4px;
	background-color: #1e6ff8;
	border-radius: 50%;
}

.unlikeBttn {
	color: transparent;
	padding: 4px;
	stroke: #a8abaf;
}

.buttons label {
	margin-right: 20px;
	margin-left: 10px;
}

/* INDIVIDUAL POST */
.postPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media screen and (min-width: 767px) {
		
	}

	@media (min-width: 992px) {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
	}
}

.leftSide {
	flex: auto;
	height: auto;
	display: flex;
	place-items: auto;
	
	@media screen and (min-width: 767px) {
		
	}

	@media (min-width: 992px) {
		flex: 50%;
		height: calc(100vh - 70px);
		display: grid;
		place-items: center;
	}
}

.rightSide {
	flex: auto;
	height: auto;
	display: flex;
	place-items: auto;
	flex-direction: column;

	@media screen and (min-width: 767px) {
		
	}

	@media (min-width: 992px) {
		flex: 50%;
		height: calc(100vh - 50vh);
		display: grid;
		place-items: center;
		display: flex;
		flex-direction: column;
	}

	.addCommentContainer {
		display: flex;
		margin-top: 0px;

		@media screen and (min-width: 767px) {
			display: flex;
			margin-top: 0px;
		}

		@media (min-width: 992px) {
			margin-top: 70px;
		}

		input, button {
			padding-left: 10px;
			height: 50px;
			width: 43vw;
			margin: 4px;
			border-radius: 8px;
			border: none;
			background-color: #3a3b3c;
			color: white;

			@media screen and (min-width: 768px) {
				width: 44vw;
			}

			@media screen and (min-width: 992px) {
				width: 300px;
				
			}
		}
	}
}

.addCommentContainer button {
	width: 100px;
	background-color: #3a3b3c;
	color: white;
}

.addCommentContainer button:hover {
	background-color: #4e4f50;
	color: white;
}

.rightSide .listOfComments {
	flex: 80%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.listOfComments .comment {
	width: 83vw;
	height: auto;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-top: 20px;

	@media screen and (min-width: 768px) {
		width: 87vw;
	}
	
	@media screen and (min-width: 992px) {
		width: 592px;
	}
}

.comment {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.delete:hover {
	color: red;
}

#individual {
	width: 90vw;
	height: 50vh;

	@media screen and (min-width: 768px) {
		width: 90vw;
		height: 50vh;
	}
	
	@media screen and (min-width: 992px) {
		height: 500px;
  		width: 600px;
	}

	.imagePost {
		height: 160px;

		@media screen and (min-width: 768px) {
			height: 290px;
		}
		
		@media screen and (min-width: 992px) {
			width: 95%;
			height: 280px;
			margin-left: 2.5%;
		}
	}
}

